services:
  app:
    build: .
    container_name: avito-pr-service
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      migrate:
        condition: service_completed_successfully

  migrate:
    build: .
    container_name: avito-migrate
    entrypoint: ["sh", "-c", "goose -dir ./migrations postgres \"$DATABASE_URL\" up"]
    env_file:
      - .env
    restart: "no"
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:16
    container_name: avito-postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  pgdata: